.list-wrapper {
  margin-top: 3rem;
  width: calc(100% - var(--margin-x-list));
  min-height: 60dvh;
  max-height: 70dvh;
  height: auto;
  margin: auto var(--margin-x-list);
}
/* .list > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
} */
